@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --back-g: rgba(247, 246, 246, 1);
  --background-2: rgba(217, 217, 217, 1);
  --beige: rgba(153, 131, 121, 1);
  --blue: rgba(27, 117, 186, 1);
  --cta-2: rgba(83, 157, 214, 1);
  --cta-dark: rgba(58, 145, 212, 1);
  --d-9d-9d-9: rgba(82, 68, 155, 1);
  --english-body-bold-font-family: "Noto Sans", Helvetica;
  --english-body-bold-font-size: 16px;
  --english-body-bold-font-style: normal;
  --english-body-bold-font-weight: 700;
  --english-body-bold-letter-spacing: 0px;
  --english-body-bold-line-height: 24px;
  --english-body-medium-font-family: "Noto Sans", Helvetica;
  --english-body-medium-font-size: 16px;
  --english-body-medium-font-style: normal;
  --english-body-medium-font-weight: 500;
  --english-body-medium-letter-spacing: 0px;
  --english-body-medium-line-height: 24px;
  --english-body-rugular-font-family: "Noto Sans", Helvetica;
  --english-body-rugular-font-size: 16px;
  --english-body-rugular-font-style: normal;
  --english-body-rugular-font-weight: 400;
  --english-body-rugular-letter-spacing: 0px;
  --english-body-rugular-line-height: 24px;
  --english-body-semibold-font-family: "Noto Sans", Helvetica;
  --english-body-semibold-font-size: 16px;
  --english-body-semibold-font-style: normal;
  --english-body-semibold-font-weight: 600;
  --english-body-semibold-letter-spacing: 0px;
  --english-body-semibold-line-height: 24px;
  --english-body-small-bold-font-family: "Noto Sans", Helvetica;
  --english-body-small-bold-font-size: 12px;
  --english-body-small-bold-font-style: normal;
  --english-body-small-bold-font-weight: 700;
  --english-body-small-bold-letter-spacing: 0px;
  --english-body-small-bold-line-height: 18px;
  --english-body-small-medium-font-family: "Noto Sans", Helvetica;
  --english-body-small-medium-font-size: 12px;
  --english-body-small-medium-font-style: normal;
  --english-body-small-medium-font-weight: 500;
  --english-body-small-medium-letter-spacing: 0px;
  --english-body-small-medium-line-height: 18px;
  --english-body-small-rugular-font-family: "Noto Sans", Helvetica;
  --english-body-small-rugular-font-size: 12px;
  --english-body-small-rugular-font-style: normal;
  --english-body-small-rugular-font-weight: 400;
  --english-body-small-rugular-letter-spacing: 0px;
  --english-body-small-rugular-line-height: 18px;
  --english-body-small-semibold-font-family: "Noto Sans", Helvetica;
  --english-body-small-semibold-font-size: 12px;
  --english-body-small-semibold-font-style: normal;
  --english-body-small-semibold-font-weight: 600;
  --english-body-small-semibold-letter-spacing: 0px;
  --english-body-small-semibold-line-height: 18px;
  --english-display-large-bold-font-family: "Noto Sans", Helvetica;
  --english-display-large-bold-font-size: 56px;
  --english-display-large-bold-font-style: normal;
  --english-display-large-bold-font-weight: 700;
  --english-display-large-bold-letter-spacing: 0px;
  --english-display-large-bold-line-height: 84px;
  --english-display-large-medium-font-family: "Noto Sans", Helvetica;
  --english-display-large-medium-font-size: 56px;
  --english-display-large-medium-font-style: normal;
  --english-display-large-medium-font-weight: 500;
  --english-display-large-medium-letter-spacing: 0px;
  --english-display-large-medium-line-height: 84px;
  --english-display-large-rugular-font-family: "Noto Sans", Helvetica;
  --english-display-large-rugular-font-size: 56px;
  --english-display-large-rugular-font-style: normal;
  --english-display-large-rugular-font-weight: 400;
  --english-display-large-rugular-letter-spacing: 0px;
  --english-display-large-rugular-line-height: 84px;
  --english-display-large-semibold-font-family: "Noto Sans", Helvetica;
  --english-display-large-semibold-font-size: 56px;
  --english-display-large-semibold-font-style: normal;
  --english-display-large-semibold-font-weight: 600;
  --english-display-large-semibold-letter-spacing: 0px;
  --english-display-large-semibold-line-height: 84px;
  --english-display-medium-bold-font-family: "Noto Sans", Helvetica;
  --english-display-medium-bold-font-size: 48px;
  --english-display-medium-bold-font-style: normal;
  --english-display-medium-bold-font-weight: 700;
  --english-display-medium-bold-letter-spacing: 0px;
  --english-display-medium-bold-line-height: 72px;
  --english-display-medium-medium-font-family: "Noto Sans", Helvetica;
  --english-display-medium-medium-font-size: 48px;
  --english-display-medium-medium-font-style: normal;
  --english-display-medium-medium-font-weight: 500;
  --english-display-medium-medium-letter-spacing: 0px;
  --english-display-medium-medium-line-height: 72px;
  --english-display-medium-rugular-font-family: "Noto Sans", Helvetica;
  --english-display-medium-rugular-font-size: 48px;
  --english-display-medium-rugular-font-style: normal;
  --english-display-medium-rugular-font-weight: 400;
  --english-display-medium-rugular-letter-spacing: 0px;
  --english-display-medium-rugular-line-height: 72px;
  --english-display-medium-semibold-font-family: "Noto Sans", Helvetica;
  --english-display-medium-semibold-font-size: 48px;
  --english-display-medium-semibold-font-style: normal;
  --english-display-medium-semibold-font-weight: 600;
  --english-display-medium-semibold-letter-spacing: 0px;
  --english-display-medium-semibold-line-height: 72px;
  --english-display-small-bold-font-family: "Noto Sans", Helvetica;
  --english-display-small-bold-font-size: 40px;
  --english-display-small-bold-font-style: normal;
  --english-display-small-bold-font-weight: 700;
  --english-display-small-bold-letter-spacing: 0px;
  --english-display-small-bold-line-height: 60px;
  --english-display-small-medium-font-family: "Noto Sans", Helvetica;
  --english-display-small-medium-font-size: 40px;
  --english-display-small-medium-font-style: normal;
  --english-display-small-medium-font-weight: 500;
  --english-display-small-medium-letter-spacing: 0px;
  --english-display-small-medium-line-height: 60px;
  --english-display-small-rugular-font-family: "Noto Sans", Helvetica;
  --english-display-small-rugular-font-size: 40px;
  --english-display-small-rugular-font-style: normal;
  --english-display-small-rugular-font-weight: 400;
  --english-display-small-rugular-letter-spacing: 0px;
  --english-display-small-rugular-line-height: 60px;
  --english-display-small-semibold-font-family: "Noto Sans", Helvetica;
  --english-display-small-semibold-font-size: 40px;
  --english-display-small-semibold-font-style: normal;
  --english-display-small-semibold-font-weight: 600;
  --english-display-small-semibold-letter-spacing: 0px;
  --english-display-small-semibold-line-height: 60px;
  --english-h1-bold-font-family: "Noto Sans", Helvetica;
  --english-h1-bold-font-size: 32px;
  --english-h1-bold-font-style: normal;
  --english-h1-bold-font-weight: 700;
  --english-h1-bold-letter-spacing: 0px;
  --english-h1-bold-line-height: 48px;
  --english-h1-medium-font-family: "Noto Sans", Helvetica;
  --english-h1-medium-font-size: 32px;
  --english-h1-medium-font-style: normal;
  --english-h1-medium-font-weight: 500;
  --english-h1-medium-letter-spacing: 0px;
  --english-h1-medium-line-height: 48px;
  --english-h1-rugular-font-family: "Noto Sans", Helvetica;
  --english-h1-rugular-font-size: 32px;
  --english-h1-rugular-font-style: normal;
  --english-h1-rugular-font-weight: 400;
  --english-h1-rugular-letter-spacing: 0px;
  --english-h1-rugular-line-height: 48px;
  --english-h1-semibold-font-family: "Noto Sans", Helvetica;
  --english-h1-semibold-font-size: 32px;
  --english-h1-semibold-font-style: normal;
  --english-h1-semibold-font-weight: 600;
  --english-h1-semibold-letter-spacing: 0px;
  --english-h1-semibold-line-height: 48px;
  --english-h2-bold-font-family: "Noto Sans", Helvetica;
  --english-h2-bold-font-size: 28px;
  --english-h2-bold-font-style: normal;
  --english-h2-bold-font-weight: 700;
  --english-h2-bold-letter-spacing: 0px;
  --english-h2-bold-line-height: 42px;
  --english-h2-medium-font-family: "Noto Sans", Helvetica;
  --english-h2-medium-font-size: 28px;
  --english-h2-medium-font-style: normal;
  --english-h2-medium-font-weight: 500;
  --english-h2-medium-letter-spacing: 0px;
  --english-h2-medium-line-height: 42px;
  --english-h2-rugular-font-family: "Noto Sans", Helvetica;
  --english-h2-rugular-font-size: 28px;
  --english-h2-rugular-font-style: normal;
  --english-h2-rugular-font-weight: 400;
  --english-h2-rugular-letter-spacing: 0px;
  --english-h2-rugular-line-height: 42px;
  --english-h2-semibold-font-family: "Noto Sans", Helvetica;
  --english-h2-semibold-font-size: 28px;
  --english-h2-semibold-font-style: normal;
  --english-h2-semibold-font-weight: 600;
  --english-h2-semibold-letter-spacing: 0px;
  --english-h2-semibold-line-height: 42px;
  --english-h3-bold-font-family: "Noto Sans", Helvetica;
  --english-h3-bold-font-size: 24px;
  --english-h3-bold-font-style: normal;
  --english-h3-bold-font-weight: 700;
  --english-h3-bold-letter-spacing: 0px;
  --english-h3-bold-line-height: 36px;
  --english-h3-medium-font-family: "Noto Sans", Helvetica;
  --english-h3-medium-font-size: 24px;
  --english-h3-medium-font-style: normal;
  --english-h3-medium-font-weight: 500;
  --english-h3-medium-letter-spacing: 0px;
  --english-h3-medium-line-height: 36px;
  --english-h3-rugular-font-family: "Noto Sans", Helvetica;
  --english-h3-rugular-font-size: 24px;
  --english-h3-rugular-font-style: normal;
  --english-h3-rugular-font-weight: 400;
  --english-h3-rugular-letter-spacing: 0px;
  --english-h3-rugular-line-height: 36px;
  --english-h3-semibold-font-family: "Noto Sans", Helvetica;
  --english-h3-semibold-font-size: 24px;
  --english-h3-semibold-font-style: normal;
  --english-h3-semibold-font-weight: 600;
  --english-h3-semibold-letter-spacing: 0px;
  --english-h3-semibold-line-height: 36px;
  --english-jumbo-display-bold-font-family: "Noto Sans", Helvetica;
  --english-jumbo-display-bold-font-size: 64px;
  --english-jumbo-display-bold-font-style: normal;
  --english-jumbo-display-bold-font-weight: 700;
  --english-jumbo-display-bold-letter-spacing: 0px;
  --english-jumbo-display-bold-line-height: 96px;
  --english-jumbo-display-medium-font-family: "Noto Sans", Helvetica;
  --english-jumbo-display-medium-font-size: 64px;
  --english-jumbo-display-medium-font-style: normal;
  --english-jumbo-display-medium-font-weight: 500;
  --english-jumbo-display-medium-letter-spacing: 0px;
  --english-jumbo-display-medium-line-height: 96px;
  --english-jumbo-display-rugular-font-family: "Noto Sans", Helvetica;
  --english-jumbo-display-rugular-font-size: 64px;
  --english-jumbo-display-rugular-font-style: normal;
  --english-jumbo-display-rugular-font-weight: 400;
  --english-jumbo-display-rugular-letter-spacing: 0px;
  --english-jumbo-display-rugular-line-height: 96px;
  --english-jumbo-display-semibold-font-family: "Noto Sans", Helvetica;
  --english-jumbo-display-semibold-font-size: 64px;
  --english-jumbo-display-semibold-font-style: normal;
  --english-jumbo-display-semibold-font-weight: 600;
  --english-jumbo-display-semibold-letter-spacing: 0px;
  --english-jumbo-display-semibold-line-height: 96px;
  --english-subtitle-bold-font-family: "Noto Sans", Helvetica;
  --english-subtitle-bold-font-size: 20px;
  --english-subtitle-bold-font-style: normal;
  --english-subtitle-bold-font-weight: 700;
  --english-subtitle-bold-letter-spacing: 0px;
  --english-subtitle-bold-line-height: 30px;
  --english-subtitle-medium-font-family: "Noto Sans", Helvetica;
  --english-subtitle-medium-font-size: 20px;
  --english-subtitle-medium-font-style: normal;
  --english-subtitle-medium-font-weight: 500;
  --english-subtitle-medium-letter-spacing: 0px;
  --english-subtitle-medium-line-height: 30px;
  --english-subtitle-rugular-font-family: "Noto Sans", Helvetica;
  --english-subtitle-rugular-font-size: 20px;
  --english-subtitle-rugular-font-style: normal;
  --english-subtitle-rugular-font-weight: 400;
  --english-subtitle-rugular-letter-spacing: 0px;
  --english-subtitle-rugular-line-height: 30px;
  --english-subtitle-semibold-font-family: "Noto Sans", Helvetica;
  --english-subtitle-semibold-font-size: 20px;
  --english-subtitle-semibold-font-style: normal;
  --english-subtitle-semibold-font-weight: 600;
  --english-subtitle-semibold-letter-spacing: 0px;
  --english-subtitle-semibold-line-height: 30px;
  --ooro: rgba(21, 1, 39, 1);
  --teal-aqua: rgba(0, 165, 155, 1);
  --text: rgba(39, 39, 39, 1);
  --text-2: rgba(255, 255, 255, 1);
  --text-font-family: "Noto Kufi Arabic", Helvetica;
  --text-font-size: 16px;
  --text-font-style: normal;
  --text-font-weight: 400;
  --text-letter-spacing: 0px;
  --text-line-height: normal;
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
